
@mixin flesAlign($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    @include flesAlign;
}

.container {
    width: 50%;
    min-width: 350px;
    @include flesAlign($pos: column);

    &__list {
        box-shadow: 0 0 10px 0 black;
        background: gray;
        padding: 5px;
        width: 100%;
        max-height: 500px;
        box-sizing: border-box;
        @include flesAlign($pos: column);
        overflow: hidden;
        overflow-y: auto;
    }
}

.task {
    width: 100%;
    min-height: 40px;
    margin-bottom: 5px;
    @include flesAlign(flex-start);
    padding: 0 15px;
    box-sizing: border-box;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    //flex-shrink: 0; //сохраняет размер блока по обоим осям (за место min-height)
    position: relative;

    &__complete {
        margin-right: 10px;
    
        &:checked ~ .task__name {
            text-decoration: line-through;
        }        
    }

    

    &__number {
        font-size: 18px;
        margin-right: 10px;
    }

    &__name {
        font-style: italic;
        font-weight: bold;
        display: none;

        &_active {
            display: block;
        }
    }

    &__edit {
        display: none;

        &_active {
            display: block;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__delete{
        position: absolute;
        cursor: pointer;
        user-select: none; //чтобы не выделить текст
        color: white;
        font-weight: bold;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: red;
        right: -5px;
        top: -5px;
        @include flesAlign;
    }

    .edit {
        position: absolute;
        cursor: pointer;
        user-select: none; //чтобы не выделить текст
        color: white;
        font-weight: bold;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: blue;
        right: 15px;
        top: -5px;
        @include flesAlign;

        &_active {
            background-color: green;
        }
    }

}

